[Unit]
Description=Improved Intra 42 Extension uWSGI back-end server
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=3
User=root
Group=www-data
WorkingDirectory=/opt/improved_intra_server
Environment="PATH=/opt/improved_intra_server/.venv/bin"
ExecStartPre=/opt/improved_intra_server/.venv/bin/pip install -r requirements.txt
ExecStart=/opt/improved_intra_server/.venv/bin/uwsgi --ini wsgi.ini

[Install]
WantedBy=multi-user.target
