[Unit]
Description=Improved Intra 42 Extension uWSGI back-end server
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
ExecStart=/usr/bin/bash /opt/improved_intra_server/gunicorn.sh
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
