[Unit]
Description=WSGI server using Gunicorn for the Improved Intra 42 browser extension
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/improved_intra_server
Environment="PATH=/opt/improved_intra_server/.venv/bin"
ExecStart=/opt/improved_intra_server/.venv/bin/gunicorn --workers 1 --bind unix:/opt/improved_intra_server/iintra.sock -m 007 wsgi:app
# ExecStartPost=/usr/bin/bash -c '/usr/bin/sleep 5 && /usr/bin/sudo /usr/bin/systemctl restart postgresql'

[Install]
WantedBy=multi-user.target
