# PostgreSQL login
PSQL_USER="postgres"
PSQL_PASS="postgres"

# Intra API client for back-end stuff
BE_CLIENT_ID="your_intra_app_id"
BE_CLIENT_SECRET="your_intra_app_secret"

# Intra API client for OAuth2
O2_CLIENT_ID="your_intra_app_id"
O2_CLIENT_SECRET="your_intra_app_secret"

# Flask
SESSION_KEY="any_random_string"

# Custom session tokens
TOKEN_SECRET="any_random_string"
TOKEN_EXPIRATION=2628000 # 1 month
