{% extends 'v2/options/base.j2' %}
{% set section = 'improvements' %}
{% block title %}Enable/Disable Improvements{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block user_settings %}
<script>
let user_settings = {
	'show_custom_profiles': '{{ 'true' if user_settings[0]['show_custom_profiles'] else 'false' }}',
	'clustermap': '{{ 'true' if user_settings[0]['clustermap'] else 'false' }}',
	'outstandings': '{{ 'true' if user_settings[0]['outstandings'] else 'false' }}',
	'sort_projects_date': '{{ 'true' if user_settings[0]['sort_projects_date'] else 'false' }}',
	'hide_broadcasts': '{{ 'true' if user_settings[0]['hide_broadcasts'] else 'false' }}',
	'hide_help': '{{ 'true' if user_settings[0]['hide_help'] else 'false' }}',
	'holygraph_more_cursuses': '{{ 'true' if user_settings[0]['holygraph_more_cursuses'] else 'false' }}',
	'logsum_month': '{{ 'true' if user_settings[0]['logsum_month'] else 'false' }}',
	'logsum_week': '{{ 'true' if user_settings[0]['logsum_week'] else 'false' }}',
	'old_blackhole': '{{ 'true' if user_settings[0]['old_blackhole'] else 'false' }}',
	'hide_goals': '{{ 'true' if user_settings[0]['hide_goals'] else 'false' }}',
	'test_input': 'ABC123',
	'test_textbox': 'QWERTY\nAA\nBB\nCC',
};
const mod_user_settings = JSON.parse(JSON.stringify(user_settings));
</script>
{% endblock %}
{% block content %}

<div class="option-container choice" id="show_custom_profiles">
	<h4>Customized profiles</h4>
	<p>Enable customized user profiles, such as custom banner imagery and links to social media</p>
	<div class="option-selector horizontal img-compare">
		<div class="option" data-value="true">
			<figure>
				<img src="{{ url_for('static', filename='imgs/options/show_custom_profiles/enabled.png') }}" alt="Preview" />
				<figcaption class="option-caption recommended"><span>Enabled</span></figcaption>
			</figure>
		</div>
		<div class="option" data-value="false">
			<figure>
				<img src="{{ url_for('static', filename='imgs/options/show_custom_profiles/disabled.png') }}" alt="Preview" />
				<figcaption class="option-caption"><span>Disabled</span></figcaption>
			</figure>
		</div>
	</div>
</div>

<div class="option-container choice" id="clustermap">
	<h4>Make logged in location clickable</h4>
	<p>When a user is available, clicking on their location will open the cluster map and highlight their location<br><small>(if supported by your campus)</small></p>
	<div class="option-selector horizontal img-compare">
		<div class="option" data-value="true">
			<figure>
				<img src="{{ url_for('static', filename='imgs/options/clustermap/enabled.png') }}" alt="Preview" />
				<figcaption class="option-caption recommended"><span>Enabled</span></figcaption>
			</figure>
		</div>
		<div class="option" data-value="false">
			<figure>
				<img src="{{ url_for('static', filename='imgs/options/clustermap/disabled.png') }}" alt="Preview" />
				<figcaption class="option-caption"><span>Disabled</span></figcaption>
			</figure>
		</div>
	</div>
</div>

<div class="option-container choice" id="outstandings">
	<h4>Show outstanding flags</h4>
	<p>Display stars next to project grades for the amount of outstanding flags received</p>
	<div class="option-selector horizontal img-compare">
		<div class="option" data-value="true">
			<figure>
				<img src="{{ url_for('static', filename='imgs/options/outstandings/enabled.png') }}" alt="Preview" />
				<figcaption class="option-caption recommended"><span>Show outstanding flags</span></figcaption>
			</figure>
		</div>
		<div class="option" data-value="false">
			<figure>
				<img src="{{ url_for('static', filename='imgs/options/outstandings/disabled.png') }}" alt="Preview" />
				<figcaption class="option-caption"><span>Do not show outstanding flags</span></figcaption>
			</figure>
		</div>
	</div>
</div>

<div class="option-container choice" id="sort_projects_date">
	<h4>Sort completed projects</h4>
	<p>Choose how you want to sort the list of completed projects on user profiles</p>
	<div class="option-selector horizontal img-compare">
		<div class="option" data-value="true">
			<figure>
				<img src="{{ url_for('static', filename='imgs/options/sort_projects_date/enabled.png') }}" alt="Preview" />
				<figcaption class="option-caption"><span>Sort by completion date</span></figcaption>
			</figure>
		</div>
		<div class="option" data-value="false">
			<figure>
				<img src="{{ url_for('static', filename='imgs/options/sort_projects_date/disabled.png') }}" alt="Preview" />
				<figcaption class="option-caption"><span>Sort by alphabetical order</span></figcaption>
			</figure>
		</div>
	</div>
</div>

<div class="option-container choice" id="hide_broadcasts">
	<h4>Broadcasts button</h4>
	<p>Hide the blue megaphone floating button on the dashboard</p>
	<div class="option-selector vertical img-compare vert-center">
		<div class="option" data-value="true">
			<figure>
				<img src="{{ url_for('static', filename='imgs/options/hide_broadcasts/enabled.png') }}" alt="Preview" />
				<figcaption class="option-caption"><span>Hide broadcasts button</span></figcaption>
			</figure>
		</div>
		<div class="option" data-value="false">
			<figure>
				<img src="{{ url_for('static', filename='imgs/options/hide_broadcasts/disabled.png') }}" alt="Preview" />
				<figcaption class="option-caption"><span>Show broadcasts button</span></figcaption>
			</figure>
		</div>
	</div>
</div>

<div class="option-container choice" id="hide_help">
	<h4>&apos;Have a problem?&apos; button</h4>
	<p>Hide the &apos;Have a problem?&apos; button on the Intra header</p>
	<div class="option-selector vertical img-compare vert-center">
		<div class="option" data-value="true">
			<figure>
				<img src="{{ url_for('static', filename='imgs/options/hide_help/enabled.png') }}" alt="Preview" />
				<figcaption class="option-caption"><span>Hide &apos;Have a problem?&apos; button</span></figcaption>
			</figure>
		</div>
		<div class="option" data-value="false">
			<figure>
				<img src="{{ url_for('static', filename='imgs/options/hide_help/disabled.png') }}" alt="Preview" />
				<figcaption class="option-caption"><span>Show &apos;Have a problem?&apos; button</span></figcaption>
			</figure>
		</div>
	</div>
</div>

<div class="option-container choice" id="holygraph_more_cursuses">
	<h4>Show more cursuses in the Holy Graph</h4>
	<p>Allow selection of additional cursuses in the Holy Graph viewer</p>
	<div class="option-selector vertical img-compare vert-center">
		<div class="option" data-value="true">
			<figure>
				<img src="{{ url_for('static', filename='imgs/options/holygraph_more_cursuses/enabled.png') }}" alt="Preview" />
				<figcaption class="option-caption"><span>Show additional cursuses</span></figcaption>
			</figure>
		</div>
		<div class="option" data-value="false">
			<figure>
				<img src="{{ url_for('static', filename='imgs/options/holygraph_more_cursuses/disabled.png') }}" alt="Preview" />
				<figcaption class="option-caption"><span>Show only the cursuses I attend</span></figcaption>
			</figure>
		</div>
	</div>
</div>

<div class="option-container choice" id="logsum_month">
	<h4>Total monthly logtimes</h4>
	<p>Display every month's total logtime above each month in the logtime chart</p>
	<div class="option-selector horizontal img-compare">
		<div class="option" data-value="true">
			<figure>
				<img src="{{ url_for('static', filename='imgs/options/logsums/month-enabled.png') }}" alt="Preview" />
				<figcaption class="option-caption"><span>Show monthly logtimes</span></figcaption>
			</figure>
		</div>
		<div class="option" data-value="false">
			<figure>
				<img src="{{ url_for('static', filename='imgs/options/logsums/month-disabled.png') }}" alt="Preview" />
				<figcaption class="option-caption"><span>Do not show monthly logtimes</span></figcaption>
			</figure>
		</div>
	</div>
</div>

<div class="option-container choice" id="logsum_week">
	<h4>Cumulative weekly logtimes</h4>
	<p>When hovering over a day in the logtimes chart, show the user's weekly cumulative hours up to that day</p>
	<div class="option-selector horizontal img-compare">
		<div class="option" data-value="true">
			<figure>
				<img src="{{ url_for('static', filename='imgs/options/logsums/week-enabled.png') }}" alt="Preview" />
				<figcaption class="option-caption"><span>Show weekly logtimes</span></figcaption>
			</figure>
		</div>
		<div class="option" data-value="false">
			<figure>
				<img src="{{ url_for('static', filename='imgs/options/logsums/week-disabled.png') }}" alt="Preview" />
				<figcaption class="option-caption"><span>Do not show weekly logtimes</span></figcaption>
			</figure>
		</div>
	</div>
</div>

<div class="option-container choice" id="old_blackhole">
	<h4>Black Hole style</h4>
	<p>Choose which style of Black Hole you prefer to see on profiles</p>
	<div class="option-selector horizontal img-compare">
		<div class="option" data-value="true">
			<figure>
				<img src="{{ url_for('static', filename='imgs/options/blackhole/old.png') }}" alt="Preview" />
				<figcaption class="option-caption"><span>Use old Black Hole (countdown)</span></figcaption>
			</figure>
		</div>
		<div class="option" data-value="false">
			<figure>
				<img src="{{ url_for('static', filename='imgs/options/blackhole/modern.png') }}" alt="Preview" />
				<figcaption class="option-caption"><span>Use modern Black Hole (date)</span></figcaption>
			</figure>
		</div>
	</div>
</div>

<div class="option-container choice" id="hide_goals">
	<h4>Hide Black Hole</h4>
	<p>Hide the entire Black Hole container on all profiles and the dashboard (overrides option above)</p>
	<div class="option-selector horizontal img-compare">
		<div class="option" data-value="true">
			<figure>
				<img src="{{ url_for('static', filename='imgs/options/blackhole/hidden.png') }}" alt="Preview" />
				<figcaption class="option-caption"><span>Hide Black Hole</span></figcaption>
			</figure>
		</div>
		<div class="option" data-value="false">
			<figure>
				<img src="{{ url_for('static', filename='imgs/options/blackhole/shown.png') }}" alt="Preview" />
				<figcaption class="option-caption"><span>Show Black Hole</span></figcaption>
			</figure>
		</div>
	</div>
</div>

{% endblock %}
