{% extends 'v2/options/base.j2' %}
{% set section = 'profile' %}
{% block title %}Edit Profile{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block user_settings %}
<script>
let user_settings = {
	'banner_img': '{{ user_settings[1]['banner_img'] if user_settings[1]['banner_img'] else '' }}',
	'banner_pos': '{{ user_settings[1]['banner_pos'] }}',
	'link_git': '{{ git_to_url(user_settings[1]['link_git'] if user_settings[1]['link_git'] else '') }}',
	'link_web': '{{ user_settings[1]['link_web'] if user_settings[1]['link_web'] else '' }}',
};
const mod_user_settings = JSON.parse(JSON.stringify(user_settings));
</script>
{% endblock %}
{% block content %}

<div class="text-container">
	<h4>Customize your profile</h4>
	<p>With the Improved Intra browser extension, you can customize your profile on 42's Intra to your liking! <b>These customizations are visible to everyone with the extension installed.</b></p>
</div>

<div class="option-container picture cover" id="banner_img">
	<h4>Custom profile banner</h4>
	<p>A custom banner image that will be shown on your profile, instead of your coalition's banner</p>
	<img class="picture-preview current-picture"{{ ' style="display: none"' if not user_settings[2] }} src="{{ user_settings[2]['url']|e if user_settings[2] else url_for('static', filename='imgs/options/placeholder.png') }}" alt="Failed to load your custom banner" title="Your current custom banner" />
	<img class="picture-preview future-picture" style="display: none;" src="{{ url_for('static', filename='imgs/options/placeholder.png') }}" alt="Failed to load selected file for preview" title="Click the save button in the top left to upload this banner" />
	<input class="picture-picker" type="file" id="custom_banner_upload" name="custom_banner_upload" accept="image/*" /><button class="picture-reset{{ ' show' if user_settings[2] }}" type="button" id="custom_banner_reset" name="custom_banner_reset" title="Revert to the default banner">Unset</button>
</div>

<div class="option-container choice" id="banner_pos">
	<h4>Banner position</h4>
	<p>Choose how your custom banner image is displayed on Intra on smaller screens</p>
	<div class="option-selector horizontal img-compare vert-center">
		{% for banner_pos in possible_options[1] -%}
			<div class="option" data-value="{{ banner_pos['id']|e }}" data-internalname="{{ banner_pos['internal_name']|e }}">
				<figure>
					<img src="{{ url_for('static', filename='imgs/options/banner_pos/'+banner_pos['internal_name']+'.svg') }}" alt="Preview" onerror="this.src='{{ url_for('static', filename='imgs/options/placeholder.png') }}'" />
					<figcaption class="option-caption"><span>{{ banner_pos['name']|e }}</span></figcaption>
				</figure>
			</div>
		{% endfor -%}
	</div>
</div>

<div class="option-container input" id="link_git">
	<h4>Link to Git profile</h4>
	<p>A link to your profile on GitHub, GitLab, or another git website</p>
	<input class="input-field" type="text" placeholder="https://github.com/username" />
</div>

<div class="option-container input" id="link_web">
	<h4>Personal website</h4>
	<p>A link to your portfolio or another personal website</p>
	<input class="input-field" type="text" placeholder="https://example.com/" />
</div>

{% endblock %}
