/* ************************************************************************** */
/*                                                                            */
/*                                                        ::::::::            */
/*   options.css                                        :+:    :+:            */
/*                                                     +:+                    */
/*   By: fbes <fbes@student.codam.nl>                 +#+                     */
/*                                                   +#+                      */
/*   Created: 2022/10/15 14:52:05 by fbes          #+#    #+#                 */
/*   Updated: 2022/10/16 03:15:49 by fbes          ########   odam.nl         */
/*                                                                            */
/* ************************************************************************** */

@import "colors.css";
@import "fonts.css";

:root {
	--sidebar-width: 250px;
}


/* root */
html {
	background: var(--html-background-color);
	color: var(--text-color);
	font-family: Arial, Helvetica, sans-serif;
	min-height: 100vh;
	width: 100%;
}

body {
	background: var(--body-background-color);
	position: relative;
	width: 100%;
	max-width: 1000px;
	min-width: 400px;
	min-height: inherit;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

noscript {
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: var(--warning-color);
	color: #000000;
	text-align: center;
	font-weight: bold;
	padding: 16px;
	z-index: 100;
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}


/* sidebar */
#sidebar {
	display: block;
	width: var(--sidebar-width);
	height: 100%;
	position: absolute;
	overflow: hidden;
	background: rgba(0,0,0,0.25);
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

#logo-container {
	display: table-cell;
	width: 100%;
	padding: 12px 24px;
}

#logo {
	margin-top: 6px;
	width: 100%;
	font-family: 'Futura PT', sans-serif;
	font-weight: bold;
	color: var(--theme-color);
}

#sidebar hr {
	border: 0;
	border-bottom: solid 1px var(--general-border-color);
	width: 90%;
	margin: 0 5% 16px 5%;
}


/* save container in sidebar */
#save-container {
	overflow: hidden;
	height: 0;
	will-change: height;
	transition: height 0.3s ease;
}

#save-container.show {
	height: 64px;
}

#save-btn {
	display: block;
	margin: 0 auto 16px auto;
	width: 175px;
	height: 32px;
	background-color: var(--theme-color);
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	padding: 8px;
}

/* display a nice shiny animation when the save button appears to draw attention to it */
#save-container.show #save-btn {
	background-color: var(--theme-color);
	background-repeat: no-repeat;
	background-image: linear-gradient(100deg, var(--theme-color) 40%, var(--theme-color-light) 50%, var(--theme-color) 60%, var(--theme-color) 100%);
	background-position: -110px;
	animation-name: save-btn-appears;
	animation-duration: 0.5s;
	animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
	animation-delay: 0.5s;
	animation-iteration-count: 1;
}

@keyframes save-btn-appears {
	from {
		background-position: -110px;
	}
	to {
		background-position: 110px;
	}
}

#save-btn:hover,
#save-btn:focus {
	background: var(--theme-color-light) !important;
}

#save-btn:active {
	background: var(--theme-color-dark) !important;
}


/* menu in sidebar */
#menu {

}

#menu-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu-list li {

}

#menu-list li.active {
	background: var(--active-background-color);
	font-weight: bold;
}

#menu-list li:hover {
	background: var(--hover-background-color);
}

#menu-list li a {
	display: block;
	color: var(--text-color);
	text-decoration: none;
	padding: 12px 18px;
}


/* account overview in sidebar */
#user-container {
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding-bottom: 8px;
}

#user-container hr {
	margin: 16px 5% 8px 5%;
}

#user-container #user-image {
	display: inline-block;
	width: 42px;
	height: 42px;
	border-radius: 21px;
	margin-left: 18px;
	vertical-align: middle;
}

#user-container #user-login {
	display: inline-block;
	vertical-align: middle;
	margin-left: 8px;
	color: var(--secondary-text-color);
}

#user-container #user-logout-btn {
	display: block;
	float: right;
	width: 32px;
	height: 32px;
	line-height: 32px;
	margin: 5px 17px 5px 5px;
	color: var(--quaternary-text-color);
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	user-select: none;

	/* Material Icons */
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	letter-spacing: normal;
	text-transform: none;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	/* End Material Icons */
}

#user-container #user-logout-btn:hover {
	color: var(--danger-color);
}


/* main content */
main {
	display: block;
	position: absolute;
	width: calc(100% - var(--sidebar-width));
	height: 100%;
	padding: 24px 16px;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: auto;
	margin-left: var(--sidebar-width);
}


/* options */
.option-container,
.text-container {
	display: block;
	position: relative;
	background: var(--container-background-color);
	background-clip: border-box;
	padding: 15px 11px 11px 11px;
	margin: 24px 0px;
	border: solid 1px transparent;
	border-radius: 4px;
}

.option-container:first-child,
.text-container:first-child {
	margin-top: 0;
}

.option-container.has-error {
	border-color: var(--danger-color);
}

.option-container h4,
.text-container h4 {
	margin: 0;
	font-size: 1em;
	font-weight: bold;
	color: var(--text-color);
}

.option-container p,
.text-container p,
.text-container ul {
	margin: 2px 0 0 0;
	font-size: 0.9em;
	color: var(--tertiary-text-color);
}

.text-container p,
.text-container ul {
	color: var(--secondary-text-color);
	margin: 8px 0 0 0;
}

.text-container p a,
.text-container ul a {
	color: var(--theme-color);
}

.text-container p a:hover,
.text-container p a:focus,
.text-container ul a:hover,
.text-container ul a:focus {
	color: var(--theme-color-light);
}

.option-container .form-error {
	color: var(--danger-color);
	font-size: small;
}

.option-container .option-link {
	display: block;
	position: absolute;
	top: 6px;
	right: 6px;
	color: var(--quaternary-text-color);
	text-shadow: 1px 1px 0 rgba(0,0,0,0.35);
	font-size: 0.9em;
	text-decoration: none;
	padding: 4px;
}

.option-container > a:hover,
.option-container > a:focus {
	color: var(--tertiary-text-color);
}

/* selectable options */
.option-selector {
	display: flex;
	width: 100%;
	margin-top: 12px;
}

.option-selector.horizontal {
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: stretch;
}

.option-selector.vertical {
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: stretch;
}

.option {
	display: inline-flex;
	flex-grow: 1;
	padding: 9px;
	margin: 2px;
	cursor: pointer;
	border-radius: 4px;
	opacity: 0.8;
}

.option-selector.horizontal .option {
	width: 100px;
}

.option.active {
	background: var(--active-background-color);
	opacity: 1;
}

.option:hover {
	background: var(--hover-background-color);
	opacity: 1;
}

.option .option-caption span {
	display: inline-block;
	padding-top: 1px;
	vertical-align: middle;
}

.option .option-caption.recommended::after {
	content: "recommended";
	text-transform: uppercase;
	font-size: 0.5em;
	color: var(--tertiary-text-color);
	margin-left: 1ch;
	vertical-align: super;
}

.option.active .option-caption.recommended::after {
	color: var(--quaternary-text-color);
}

.option .option-caption::before {
	display: inline-block;
	content: "radio_button_unchecked";
	vertical-align: middle;
	padding-right: 3px;
	color: var(--tertiary-text-color);

	/* Material Icons */
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	/* End Material Icons */
}

.option.active .option-caption {
	font-weight: bold;
}

.option.active .option-caption::before {
	content: "radio_button_checked";
	color: var(--theme-color);
}

.option.disabled {
	cursor: not-allowed;
	background-color: transparent !important;
	opacity: 0.5 !important;
	color: var(--quaternary-text-color) !important;
}

.option.disabled.active {
	background-color: var(--warning-color) !important;
	color: #000 !important;
}

/* image comparison options */
.option-selector.img-compare .option figure img {
	opacity: 0.7;
	border-radius: 2px;
}

.option-selector.img-compare .option.active figure img,
.option-selector.img-compare .option:hover figure img {
	opacity: 1;
}

.option-selector.img-compare .option.disabled figure img {
	opacity: 0.7 !important;
}

.option-selector.horizontal.img-compare .option figure {
	width: 100%;
	margin: 0;
}

.option-selector.horizontal.img-compare .option figure img {
	width: inherit;
	margin-bottom: 4px;
}

.option-selector.vertical.img-compare .option figure {
	display: inline-block;
	margin: 0;
}

.option-selector.vertical.img-compare .option figure img {
	display: inline-block;
	vertical-align: top;
	height: 92px;
	margin-right: 4px;
}

.option-selector.vertical.img-compare .option figure img + figcaption {
	margin-top: 4px; /* only active when there is an img tag in the figure */
}

.option-selector.vertical.img-compare .option figure figcaption {
	display: inline-block;
	vertical-align: top;
}

/* add vertical alignment to image and caption with vert-center class */
.option-selector.vertical.img-compare.vert-center .option figure figcaption,
.option-selector.vertical.img-compare.vert-center .option figure img {
	vertical-align: middle;
	margin-top: 0;
	margin-bottom: 0;
}

/* input for options */
.option-container input,
.option-container textarea,
.option-container select {
	display: block;
	width: 100%;
	padding: 8px 8px 8px 12px;
	margin-top: 12px;
	border: solid 1px transparent;
	border-radius: 3px;
	box-sizing: border-box;
	outline: 0;

	color: var(--input-text-color);
	background: var(--input-background-color);
}

.option-container input:active,
.option-container input:focus,
.option-container textarea:active,
.option-container textarea:focus,
.option-container select:focus {
	border-color: var(--theme-color);
}

.option-container textarea {
	resize: vertical;
	min-height: 72px;
	padding: 8px 12px 8px 12px;
}

/* picture option */
.option-container.picture .picture-preview {
	display: block;
	width: 100%;
	max-height: 256px;
	object-fit: scale-down;
	margin: 12px 0 8px 0;
	border-radius: 3px;
}

.option-container.picture.cover .picture-preview {
	object-fit: cover;
}

.option-container.picture .picture-picker {
	margin-top: 8px;
}
