/* ************************************************************************** */
/*                                                                            */
/*                                                        ::::::::            */
/*   options.css                                        :+:    :+:            */
/*                                                     +:+                    */
/*   By: fbes <fbes@student.codam.nl>                 +#+                     */
/*                                                   +#+                      */
/*   Created: 2022/10/15 14:52:05 by fbes          #+#    #+#                 */
/*   Updated: 2022/10/15 17:02:09 by fbes          ########   odam.nl         */
/*                                                                            */
/* ************************************************************************** */

@import "colors.css";
@import "fonts.css";

:root {
	--sidebar-width: 250px;
}


/* root */
html {
	background: var(--html-background-color);
	color: var(--text-color);
	font-family: Arial, Helvetica, sans-serif;
	min-height: 100vh;
	width: 100%;
}

body {
	background: var(--body-background-color);
	position: relative;
	width: 100%;
	max-width: 1000px;
	min-width: 400px;
	min-height: inherit;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}


/* sidebar */
#sidebar {
	display: block;
	width: var(--sidebar-width);
	height: 100%;
	position: absolute;
	overflow: hidden;
	background: rgba(0,0,0,0.25);
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

#logo-container {
	display: table-cell;
	width: 100%;
	padding: 12px 24px;
}

#logo {
	margin-top: 6px;
	width: 100%;
}

#sidebar hr {
	border: 0;
	border-bottom: solid 1px var(--general-border-color);
	width: 90%;
	margin: 0 5% 16px 5%;
}


/* menu in sidebar */
#menu {

}

#menu-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu-list li {

}

#menu-list li.active {
	background: var(--active-background-color);
	font-weight: bold;
}

#menu-list li:hover {
	background: var(--hover-background-color);
}

#menu-list li a {
	display: block;
	color: var(--text-color);
	text-decoration: none;
	padding: 12px 18px;
}


/* main content */
main {
	display: block;
	position: absolute;
	width: calc(100% - var(--sidebar-width));
	height: 100%;
	padding: 24px 16px;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: auto;
	margin-left: var(--sidebar-width);
}


/* options */
.option-container {
	display: block;
	background: var(--container-background-color);
	padding: 16px 12px 12px 12px;
	margin: 24px 0px;
	border-radius: 4px;
}

.option-container:first-child {
	margin-top: 0;
}

.option-container:last-child {
	margin-bottom: 256px;
}

.option-container h4 {
	margin: 0;
	font-size: 1em;
	font-weight: bold;
	color: var(--text-color);
}

.option-container p {
	margin: 2px 0 0 0;
	font-size: 0.9em;
	color: var(--tertiary-text-color);
}

.option-container > input {
	display: none;
}

.option-selector {
	display: flex;
	width: 100%;
	margin-top: 12px;
}

.option-selector.horizontal {
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: stretch;
}

.option-selector.vertical {
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: stretch;
}

.option {
	display: inline-flex;
	flex-grow: 1;
	padding: 9px;
	margin: 2px;
	cursor: pointer;
	border-radius: 4px;
	opacity: 0.8;
}

.option-selector.horizontal .option {
	width: 100px;
}

.option.active {
	background: var(--active-background-color);
	opacity: 1;
}

.option:hover {
	background: var(--hover-background-color);
	opacity: 1;
}

.option .option-caption span {
	display: inline-block;
	padding-top: 1px;
	vertical-align: middle;
}

.option .option-caption::before {
	display: inline-block;
	content: "radio_button_unchecked";
	vertical-align: middle;
	padding-right: 3px;

	/* Material Icons */
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	/* End Material Icons */
}

.option.active .option-caption {
	font-weight: bold;
}

.option.active .option-caption::before {
	content: "radio_button_checked";
}

/* image comparison options */
.option-selector.img-compare .option figure img {
	opacity: 0.7;
	border-radius: 2px;
}

.option-selector.img-compare .option.active figure img,
.option-selector.img-compare .option:hover figure img {
	opacity: 1;
}

.option-selector.horizontal.img-compare .option figure {
	width: 100%;
	margin: 0;
}

.option-selector.horizontal.img-compare .option figure img {
	width: inherit;
	margin-bottom: 4px;
}

.option-selector.vertical.img-compare .option figure {
	display: inline-block;
	height: 92px;
	margin: 0;
}

.option-selector.vertical.img-compare .option figure img {
	display: inline-block;
	vertical-align: top;
	height: inherit;
	margin-right: 4px;
}

.option-selector.vertical.img-compare .option figure figcaption {
	display: inline-block;
	vertical-align: top;
	margin-top: 4px;
}

/* add vertical alignment to image and caption with vert-center class */
.option-selector.vertical.img-compare.vert-center .option figure figcaption,
.option-selector.vertical.img-compare.vert-center .option figure img {
	vertical-align: middle;
	margin-top: 0;
	margin-bottom: 0;
}
