<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset='utf-8' />
	<title>Improved Intra 42</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link rel="icon" type="image/ico" href="favicon.ico" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/fonts.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<header>
		<img id="logo" src="{{ url_for('static', filename='imgs/logo-wide.png') }}" alt="IMPROVED INTRA 42"/>
	</header>
	<main>
		<div class="container" id="account">
		{% if login %}
			<h2>Hi there, <span id="login">{{ login|e }}</span></h2>
			<p>Welcome back to the Improved Intra home page.<br>This page is a work in progress.</p>
			<a class="button" href="{{ url_for('options') }}">Settings</a>
			<a class="button danger" href="{{ url_for('disconnect') }}">Sign out</a>
		{% else %}
			<h2>Not signed in</h2>
			<p>Authenticate with your Intra 42 account to modify your Improved Intra settings</p>
			<a class="button auth" href="{{ url_for('connect') }}">Sign in</a>
		{% endif %}
		</div>
	</main>
</body>
</html>
