{% extends 'v2/options/base.j2' %}
{% set section = 'appearance' %}
{% block title %}Appearance Settings{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
Coming soon
{% endblock %}
