<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
	{% block head %}
	<meta charset='utf-8' />
	<title>{% block title required %}{% endblock %} - Improved Intra 42</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
	<link rel="icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/options.css') }}" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet" />
	{% endblock %}
</head>
<body>
	<section id="sidebar">
		<div id="logo-container">
			<img id="logo" src="{{ url_for('static', filename='imgs/logo-wide.png') }}" alt="IMPROVED INTRA 42"/>
		</div>
		<hr />
		<nav id="menu">
			{% include 'v2/options/menu.j2' %}
		</nav>
	</section>
	<noscript>To modify your settings for Improved Intra 42, you need to enable JavaScript.</noscript>
	<main>
		{% block content %}
		{% endblock %}
	</main>
	{% block user_settings required %}
	{# needs to be a script tag with a definition of the user_settings variable (object)#}
	{% endblock %}

	<!-- script to modify the options defined above -->
	<script src="{{ url_for('static', filename='scripts/options2-static.js') }}"></script>
</body>
</html>
