<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title required %}{% endblock %} - Improved Intra 42</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
	<link rel="icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/options.css') }}" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet" />
	{% block head -%}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% endblock -%}
</head>
<body>
	<section id="sidebar">
		<div id="logo-container">
			<img id="logo" src="{{ url_for('static', filename='imgs/logo-wide.png') }}" alt="IMPROVED INTRA 42"/>
		</div>
		<div id="save-container">
			<hr />
			<button id="save-btn">Save settings</button>
		</div>
		<hr />
		<nav id="menu">
			{% include 'v2/options/menu.j2' %}
		</nav>
		<div id="user-container">
			<hr />
			<img id="user-image" src="{{ user_image|e }}" />
			<span id="user-login">{{ user_login|e }}</span>
			<a id="user-logout-btn" href="{{ url_for('disconnect') }}" title="Sign out of Improved Intra">logout</a>
		</div>
	</section>
	<noscript>To modify your settings for Improved Intra 42, you need to enable JavaScript.</noscript>
	<main>
		{% block content %}
		{% endblock %}
		<div class="option-container input" id="ext_version" style="display: none;">
			<h4>Extension version</h4>
			<p>The version of the Improved Intra extension currently installed</p>
			<input class="input-field" type="text" placeholder="Do not fill this field, it is filled in by the extension" value="unknown" id="ext_version_input" readonly />
		</div>
	</main>
	{% block user_settings required %}
	{# needs to be a script tag with a definition of the user_settings variable (object)#}
	{% endblock %}

	<!-- scripts to load and modify the options defined above -->
	<script src="{{ url_for('static', filename='scripts/options/saver.js') }}"></script>
	<script src="{{ url_for('static', filename='scripts/options/loader.js') }}"></script>
</body>
</html>
