{% extends 'v2/options/base.j2' %}
{% set section = 'campus' %}
{% block title %}Settings for Codam{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
Coming soon
{% endblock %}
