{% extends 'v2/options/base.j2' %}
{% set section = 'improvements' %}
{% block title %}Enable/Disable Improvements{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
<div class="option-container">
	<h4>Customized profiles</h4>
	<p>Show customized profiles, such as custom banner imagery</p>
	<input type="checkbox" value="true" id="show-custom-profiles" checked />
	<div class="option-selector horizontal img-compare">
		<div class="option active">
			<figure>
				<img src="{{ url_for('static', filename='imgs/options/placeholder.png') }}" alt="Preview" />
				<figcaption class="option-caption"><span>Enabled</span></figcaption>
			</figure>
		</div>
		<div class="option">
			<figure>
				<img src="{{ url_for('static', filename='imgs/options/placeholder.png') }}" alt="Preview" />
				<figcaption class="option-caption"><span>Disabled</span></figcaption>
			</figure>
		</div>
	</div>
</div>
<div class="option-container">
	<h4>Customized profiles</h4>
	<p>Show customized profiles, such as custom banner imagery</p>
	<input type="checkbox" value="true" id="show-custom-profiles" checked />
	<div class="option-selector vertical img-compare">
		<div class="option active">
			<figure>
				<img src="{{ url_for('static', filename='imgs/options/placeholder.png') }}" alt="Preview" />
				<figcaption class="option-caption"><span>Enabled</span></figcaption>
			</figure>
		</div>
		<div class="option">
			<figure>
				<img src="{{ url_for('static', filename='imgs/options/placeholder.png') }}" alt="Preview" />
				<figcaption class="option-caption"><span>Disabled</span></figcaption>
			</figure>
		</div>
	</div>
</div>
<div class="option-container">
	<h4>Customized profiles</h4>
	<p>Show customized profiles, such as custom banner imagery</p>
	<input type="checkbox" value="true" id="show-custom-profiles" checked />
	<div class="option-selector vertical img-compare vert-center">
		<div class="option active">
			<figure>
				<img src="{{ url_for('static', filename='imgs/options/placeholder.png') }}" alt="Preview" />
				<figcaption class="option-caption"><span>Enabled</span></figcaption>
			</figure>
		</div>
		<div class="option">
			<figure>
				<img src="{{ url_for('static', filename='imgs/options/placeholder.png') }}" alt="Preview" />
				<figcaption class="option-caption"><span>Disabled</span></figcaption>
			</figure>
		</div>
	</div>
</div>
{% endblock %}
