{% extends 'v2/options/base.j2' %}
{% set section = 'improvements' %}
{% block title %}Enable/Disable Improvements{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
Coming soon
{% endblock %}
