{% set menu_items = [
	('improvements', 'Improvements'),
	('appearance', 'Appearance'),
	('profile', 'Edit Profile'),
	('campus', 'Campus-specific'),
	('help', 'Help')
]
-%}
{% set section = section|default('improvements') -%}

<ul id="menu-list">
{% for id, caption in menu_items %}
	<li{% if id == section %} class="active"{% endif %}><a href="{{ url_for('options_section', section=id) }}">{{ caption|e }}</a></li>
{% endfor %}
</ul>
