{% extends 'v2/options/base.j2' %}
{% set section = 'campus' %}
{% block title %}Settings for {{ campus|e }}{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block user_settings %}
<script>
const user_settings = {};
const mod_user_settings = JSON.parse(JSON.stringify(user_settings));
</script>
{% endblock %}
{% block content %}
<div class="text-container" id="no_custom_settings">
	<h4>Settings for {{ campus|e }}</h4>
	<p>There are no custom settings available for the {{ campus|e }} campus at this time.</p>
</div>
{% endblock %}
