{% extends 'v2/options/base.j2' %}
{% set section = 'profile' %}
{% block title %}Edit Profile{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block user_settings %}
<script>
const user_settings = {};
</script>
{% endblock %}
{% block content %}
Coming soon
{% endblock %}
